* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
}

#gameOver {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #222222aa;
  color: white;
}

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
